/// Acordeón
.acordeon {
	&_titulo {
		cursor: pointer;
		width: 100%;
	}
	&_contenido {
		display: none;
	}
}

/* ---- particles.js container ---- */
body {
	background-attachment: fixed;
	background-color: #000;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	position: relative;
	width: 100vw;
	z-index: -999999999999999;
}
#particles-js {
	position:fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	left: 0;
	top: 0;
	z-index: -1000000;
	canvas {
		position: fixed;
		top: 0;
		display: block;
		margin: 0;
		padding: 0;
		height: 50vh;
	}
}